body {

    background: #4a90ab;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 10vw;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 18vh;
}

#dh-selectables img {
    display: table; width: 100%;
    padding-top: 5vh;
    width: 80%;
    margin: 20px 20px 20px 20px;
    position: relative;
    transition: all .1s ease-in-out;

}

#dh-selectables img:hover {
    transform: scale(1.2);
}
