<div id="main-loaded" style="display: none;">
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main-style.css" />

    </head>
    
    <body>
        
        <div class="container">
            <h1 class="dh-title"> dharness </h1>
        </div>
        
        <div class="container">
            <div class="row" id="dh-selectables">
                
                <div class="col-lg-3">
                    <a href="#bla-bla-blog">
                        <img class="#drop-shadow" src="./assets/images/raw/blog.svg" />
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="/#/art">
                        <img style="z-index: 1600;" src="./assets/images/raw/box.svg" />
                    </a>
                </div>
                
                <div class="col-lg-3">
                    <a href="/#/aboot">
                        <img src="./assets/images/raw/panda.svg"  alt="ok">
                    </a>
                </div>
                
                <div class="col-lg-3">
                    <a href="/#/technical-profiterole">
                        <img src="./assets/images/raw/profiterole.svg" alt="ok">
                    </a>
                </div>
                
            </div>
        </div>
        
    </body>
    
</div>