<div id="main-loaded" style="display: none;">
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main-style.css" />

    </head>
    
    <body>
        
        <div class="container">
            <h1 class="dh-title"> dharness </h1>
        </div>
        
        <div class="container">
            <div class="row" id="dh-selectables">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-2">
                    <a href="#shell">
                        <center><img class="#drop-shadow" src="./assets/images/raw/blog.svg" /></center>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="/#/art">
                        <center><img src="./assets/images/raw/box.svg" /></center>
                    </a>
                </div>
                
                <div class="col-lg-2">
                    <a href="/#/aboot">
                        <center><img src="./assets/images/raw/panda.svg"  alt="ok"></center>
                    </a>
                </div>
                
                <div class="col-lg-2" >
                    <a href="/#/technical-profiterole">
                        <center><img src="./assets/images/raw/profiterole.svg" alt="ok"></center>
                    </a>
                </div>
                
            </div>
        </div>
        
    </body>
    
</div>