<head>
    <link rel="stylesheet" type="text/css" href="./app/views/main/main-style.css" />
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="container">
        <h1 class="dh-title"> dharness </h1>
    </div>

    <div class="container">
        <div class="row" id="dh-selectables">
            <div class="col s12 m6 l3">
                <a href="/#/bla-bla-blog">
                    <img src="./assets/images/raw/blog.svg" />
                </a>
            </div>
            <div class="col s12 m6 l3">
                <a href="/#/technical-profiterole">
                    <img src="./assets/images/raw/profiterole.svg" alt="ok">
                </a>
            </div>
            <div class="col s12 m6 l3">
                <a href="/#/art">
                    <img src="./assets/images/raw/box.svg" />
                </a>
            </div>
            <div class="col s12 m6 l3">
                <a href="/#/aboot">
                    <img src="./assets/images/raw/boot.svg"  alt="ok">
                </a>
            </div>
        </div>
    </div>

</body>
