{% extends "./blog-parent.njk" %}

    {% block title %}
        Walter's Wools
    {% endblock %}
    
    {% block content %}
        <center>
            <iframe src="https://player.vimeo.com/video/426796088?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <p><a href="https://vimeo.com/426796088">Walter&#039;s Wools</a> from <a href="https://vimeo.com/user117299938">Naila N</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </center>
        <br>
        <p class="work-text">Walter's Wools was created in Toonboom within one week.
        <br>
        Co-created with Naila Nur.
        </p>
        <center>
            <video width="426" height="240" autoplay loop muted>
                <source src="/assets/2020/walter/3-heads.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <video width="426" height="240" autoplay loop muted>
                <source src="/assets/2020/walter/walter.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </center>
    {% endblock %}
