@import 'utilities';

/************************************* TOP *************************************/

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.dh-title-img {
    width: 60%;
}

.dh-blog-header {
    font-family: 'Grand Hotel', cursive;
    font-size: 10vw;
    color: white;
    text-align: center;
    text-shadow: long-shadow($direction: 42deg, $length: 15px, $color: shade($background-color, 20), $fade: $background-color);
    color: $h-color;
}


.dh-bg-panel {
    background: $background-color;
    border: none;
    color: white;
    box-shadow: none;
}

/************************************* CENTER *************************************/


.dh-card {
    font-family: 'ABeeZee', sans-serif;
    background: $h-color;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 20px;
    padding-top: 10px;
    -webkit-filter: drop-shadow(2px 2px 1px shade($background-color, 20));
    filter: drop-shadow(2px 2px 1px shade($background-color, 20));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    
    h3 {
        font-family: 'ABeeZee', sans-serif;
        padding-bottom: 3vh;
    }
}

/************************************* LEFT *************************************/


.dh-blog-list {
    ul {
        li {
            margin-left: 3vw;
            list-style-type: square;
            list-style-position: outside;
            list-style-image: none;
        }
    }
}

/************************************* MEDIA QUERIES *************************************/

@media (max-width: $screen-xs-max) {
    .dh-blog-header {
        font-size: 10vw;
    }

 }
@media (min-width: $screen-sm-min) {
    #dh-menu-button {
        display:block!important;
    }
}
@media (max-width: $screen-sm-max) {  }
@media (min-width: $screen-md-min) {
    .dh-blog-header {
        font-size: 5vw;
    }
}
@media (max-width: $screen-md-max) {
    .dh-blog-header {
        font-size: 8vw;
    }
    #dh-menu-button {
        display:block!important;
    }

    .canvas-slid {
        margin-top: -200px;
    }
}
@media (min-width: $screen-lg-min) {
        .dh-blog-header {
        font-size: 10vw;
    }
    #dh-menu-button {
        display:none!important;
    }
}

#blog-loaded {
    display:block!important;
}