@import 'utilities';
@import 'tooltip';

/************************************* TOP *************************************/

.vertical-align {
display: flex;
flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
display: flex;
align-items: center;
justify-content: center; /* Optional, to align inner items
horizontally inside the column */
}

.dh-title-img {
width: 60%;
}

.dh-art-header {
font-family: 'Grand Hotel', cursive;
font-size: 10vw;
text-align: center;
text-shadow: long-shadow($direction: 42deg, $length: 15px, $color: shade($background-color, 20), $fade: $background-color);
color: $h-color;
}


.dh-bg-panel {
background: $background-color;
border: none;
color: white;
box-shadow: none;
}

/************************************* TYPES *************************************/




/* HACK - but a small one, since loading doesnt offer this functionallity */

#art-loaded {
display:block!important;
}