@import 'utilities';

.dh-tech-item {
    font-family: 'ABeeZee', sans-serif;
    background: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 20px;
    -webkit-filter: drop-shadow(2px 2px 1px shade($background-color, 20));
    filter: drop-shadow(2px 2px 1px shade($background-color, 20));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

    .dh-tech-img-main {
    	margin: 10px;
    }

    .dh-link-stack {
		padding: 20px;
		padding-top: 30px;
    }

    .dh-tech-title {
    	font-size: 2em;
    	margin-top: 8px;
    }

    p {
    	color: #96A7B1
    }

    hr {
    	padding: 0px;
    	
    	margin: 0px;
    	margin-left: 10px;
    	margin-right: 10px;
    }

    .dh-tech-stack {
    	padding: 10px;

    	img {
    		display: block;
		    margin-left: auto;
		    margin-right: auto
    	}
    }

    .dh-truncate {

	  width: 250px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;

    }

  
}