@import 'utilities';

.dh-shell-title {
    font-family: 'Grand Hotel', cursive;
    font-weight: 300;
    z-index: 1600;
    font-size: 8vw;
    color: $h-color;
    text-align: center;
    text-shadow: long-shadow($direction: 42deg, $length: 15px, $color: shade($background-color, 20), $fade: $background-color);
}

.dh-bottom-nav {
	background: #FFFFFF;
	box-shadow: 0px 0px 5px #888888;
	border:none;
	width: 50%;
	left: 25%;
	img {
		height: 75%;
		padding: 0px!important;
		margin: 8% 0px 8% 0px!important;
	}
}

.dh-card {
    font-family: 'ABeeZee', sans-serif;
    background: white;
    border-radius: 2px;

    
    h3 {
        font-family: 'ABeeZee', sans-serif;
        padding-bottom: 3vh;
    }
}