{% extends "./blog-parent.njk" %}

    {% block title %}
        Mr. Makes-A-Word
    {% endblock %}
    
    {% block content %}
        <center>
            <iframe src="https://player.vimeo.com/video/426808014?title=0&byline=0&portrait=0" width="350" height="622" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <p><a href="https://vimeo.com/426808014">Mr. Makes-A-Word</a> from <a href="https://vimeo.com/user117299938">Naila N</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </center>
        <br>
        <p class="work-text"> Mr. Makes-A-Word is a game published on the App store. 
        You connect tiles to make enough words to finish a level. 
        Earn sugar clods along the way and trade them to collect items. 
        Gather enough items to reveal new stories from Mr. Makes-a-Word's fantastic book.

        <br>
        Co-created with Naila Nur.
        <br>
        <br>

        Download here on the App Store: <a class="external-link" href='https://apps.apple.com/us/app/mr-makes-a-word/id1496556261'>Mr. Makes-A-Word</a>
        </p>
    {% endblock %}
