{% extends "./blog-parent.njk" %}
    {% block title %}
        Cards
    {% endblock %}
    
    {% block content %}
        <center>
            <div class="row">
                <div class="column">
                    <img src="/assets/2018/cards/7friends.png">
                    <img src="/assets/2018/cards/Bob.png">
                </div>

                <div class="column">
                    <img src="/assets/2018/cards/box.png">
                    <img src="/assets/2018/cards/doris.png">
                </div>

                <div class="column">
                    <img src="/assets/2018/cards/Fish.png">
                    <img src="/assets/2018/cards/ganghis.png">
                </div>

                <div class="column">
                    <img src="/assets/2018/cards/Insects.png">
                    <img src="/assets/2018/cards/Leap.png">
                </div>

                <div class="column">
                    <img src="/assets/2018/cards/madame.png">
                    <img src="/assets/2018/cards/mark.png">
                </div>

                <div class="column">
                    <img src="/assets/2018/cards/Mosquitos.png">
                    <img src="/assets/2018/cards/tongue.png">
                </div>

                <div class="column">
                    <img src="/assets/2018/cards/wanda.png">
                    <img src="/assets/2018/cards/trophy.png">
                </div>
            </div>
        </center>
        <br>
        <p class="work-text">These cards were originally for a game that we grappled with for a long time and later abandoned. 
        We ended up turning them into stickers and prizes for Mr. Makes-A-Word, so there was a silver lining.
        Each card has a poem and music associated with it that gives it more context. 

        <br> Co-created with Naila Nur
        </p>
    {% endblock %}
