{% extends "./blog-parent.njk" %}

    {% block title %}
        Sqwak
    {% endblock %}
    
    {% block content %}
        <center>
            <img width="80%" src="/assets/2017/Sqwak/sqwak-min.png">
        </center>
        <br>
        <p class="work-text">
            Sqwak was our capstone project for our final year of university. It allows you to train and test your own custom audio classifier without writing any code.
            All you have to do is upload some example sounds for training, and we use Tensorflow to extract features and train a classifier. 
            You are then able to upload new sounds and have them categorized in different buckets, like meows vs barks, with some degree of certainty.
            Sqwak ended up costing too much time and money to keep running.
        </p>
        <center>
            <img width="60%" src="/assets/2017/Sqwak/editclass.png">
        </center>
            <br>
            Co-created with Naila Nur
    {% endblock %}
