body {
    visibility: visible;
}

.wrapper {
    display: flex;
}

.work-content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 30px 30px 30px 0px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    align-items: center;
}

.sidebar {
    height: 100%;
    overflow-y: auto;
    width: 230px;
    padding: 10px;
}

.sidebar-header {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2;
    font-size: 40px;
    padding-bottom: 15px;
}

.work-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-bottom: 25px;
}

.work-link {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    padding-left: 7px;
}

.work-text {
    max-width: 700px;
    line-height: 1.5;
}

.work-year {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin: 7px 0px;
}

.work-section {
    padding-bottom: 20px;
}

.work-year--underline {
    height: 1px;
    margin-top: 2px;
    background: black;
}

.external-link {
    color: #0592b0;
    font-weight: 400;
}

.related-websites h5 {
    font-size: 15px;
    font-weight: 400;
}

.related-websites a {
    line-height: 25px;
}

.related-websites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #d1faff;
}

* {
    box-sizing: border-box;
}

