* {
    margin: 0px;
    padding-left: 0px;
}

.dh-floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

.dh-turn {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.dh-mission {
    font-size: 13px;
    font-family: "Coming Soon";
    font-style: normal;
    font-weight: 400;
    font-size:44px;
    color: #5c5c5c;
}

.wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;
}

.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
    background: rgb(245, 245, 224)
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
    background: rgb(245, 245, 224)
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
    background: rgb(245, 245, 224)
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
    background: rgb(245, 245, 224)
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
    background: rgb(245, 245, 224)
}
.front {
	transform: translateZ(100px);
    background: rgb(245, 245, 224);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	/*animation: spin 10s infinite linear;*/
}

.cube:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}
