/*  VARIABLES */
/* Breakpoints */
/* FUNCTIONS */
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(http://fonts.googleapis.com/css?family=ABeeZee);
/* STYLES */
/* line 38, ../sass/_utilities.scss */
body {
  background: white;
}

/* line 43, ../sass/_utilities.scss */
#dh-selectables-nav img {
  width: 5em;
  transition: all .1s ease-in-out;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

/* line 53, ../sass/_utilities.scss */
#dh-selectables-nav img:hover {
  transform: scale(1.2);
  z-index: 1600;
  -webkit-filter: drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.5));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

/* line 3, ../sass/project-card-style.scss */
.dh-tech-item {
  font-family: 'ABeeZee', sans-serif;
  background: #FFFFFF;
  border-radius: 2px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #cccccc;
  -webkit-filter: drop-shadow(2px 2px 1px #cccccc);
  filter: drop-shadow(2px 2px 1px #cccccc);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  transition: all .2s ease-in-out;
}
/* line 16, ../sass/project-card-style.scss */
.dh-tech-item .dh-tech-img-main {
  margin: 10px;
}
/* line 20, ../sass/project-card-style.scss */
.dh-tech-item .dh-link-stack {
  padding: 20px;
  padding-top: 30px;
}
/* line 25, ../sass/project-card-style.scss */
.dh-tech-item .dh-tech-title {
  font-size: 2em;
  margin-top: 8px;
}
/* line 30, ../sass/project-card-style.scss */
.dh-tech-item p {
  color: #96A7B1;
}
/* line 34, ../sass/project-card-style.scss */
.dh-tech-item hr {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 42, ../sass/project-card-style.scss */
.dh-tech-item .dh-tech-stack {
  padding: 10px;
}
/* line 45, ../sass/project-card-style.scss */
.dh-tech-item .dh-tech-stack img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 52, ../sass/project-card-style.scss */
.dh-tech-item .dh-truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 62, ../sass/project-card-style.scss */
.dh-tech-item:hover {
  box-shadow: 0 0 20px #cccccc;
  transform: scale(1.01);
}
