 
<div class="row">
<center>
<div class="dh-search-bar" >
	<div class="col-lg-11">
	<md-chips ng-model="searchTerms"></md-chips>
	</div>
	<div class="col-lg-1">
		<md-button class="md-fab" style="background: white" aria-label="Eat cake">
			<md-icon md-svg-src="./assets/images/search_icon.svg" ></md-icon>
		</md-button>
	</div>
	
</div>
	 </center>
</div>



<div ng-repeat="project in projects track by $index">
<div class="row" ng-hide="$index == (projects.length -1)">
		<x-project-card></x-project-card>
	</div>
</div>
