.dh-header-icon {
    width: 80%;
}

.dh-blog-title {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 4vw;
    padding-top: 8vh;
    color: rgb(255, 255, 255);
}
