<header>
    <link rel="stylesheet" type="text/css" href="./app/views/blog/blog-style.css" />
</header>

<div class="container">

    <div class="row">
        <div class="col s12 m3">
            <center>
                <img class="dh-header-icon" src="./assets/images/raw/blog.svg" />
            </center>
        </div>
        <div class="col s12 m8">
            <div class="dh-blog-title">Bla-Bla-Blog</div>
        </div>
    </div>

    <div class="row">

        <div class="col s12 m3">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Wrestling With Giants</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <a href="#!" class="collection-item">Alvin</a>
                            <a href="#!" class="collection-item">Alvin</a>
                            <a href="#!" class="collection-item">Alvin</a>
                            <a href="#!" class="collection-item">Alvin</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-maps-place"></i>Programming Rigmarole</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Philosophy</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col s12 m8">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href='#'>This is a link</a>
                </div>
            </div>
        </div>

    </div>
</div>
