<header>
  <!-- Fonts -->
  
  <link rel="stylesheet" type="text/css" href="./assets/stylesheets/blog-style.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
</header>


<div id="blog-loaded" style="display: none;">
  <div class="container">
    
    <!-- TOP -->
    <div class="row vertical-align">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a href="#">
          <center>
        <img class="img-responsive dh-title-img" src="./assets/images/raw/blog.svg"/></a></center>
      </div>
      <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
        <div class="panel dh-bg-panel">
          <div class="dh-blog-header">Bla Bla Blog</div>
        </div>
      </div>

    </div>
    
    
    <!-- CENTER -->
    <div class="row">
      
      <div id="dh-blogs-menu" >
      <div  class="col-lg-3 col-md-3">
        <div class="dh-bg-panel">
          
          <div class="dh-card dh-left-nav">
            <accordion close-others="oneAtATime">
              
              <accordion-group heading="Programming" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                <a>On the Importance of Proof</a>
              </accordion-group>
              
              <accordion-group  heading="{{group.title}}" ng-repeat="group in groups">
                {{group.content}}
              </accordion-group>
              
            </accordion>
            
            
          </div>
        </div>
      </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      <div class="col-lg-6" style="overflow:scroll;">
        
        
        <div class="row">
          
          <div class="dh-card">
            
            <h3>On the Importance of Proof </h3>
            <p>
            
            
            The moistness of your boss breathing down your neck might feel nice, but eventually you will want to dry up and make something for yourself. Any programmer worth their salt will tell you diving in head first without a plan will leave you with little more than a recipe for disaster and a sore head. Tried and true, here is my current personal workflow in 3 easy steps:
            <br>
            <br>
            1. Proof <br>
            2. UX Design <br>
            3. Implementation <br>
            <br>
            To keep things shorter than your shortest grandma, I’ll just discuss proof.
            <br>
            <h4>Proof </h4>
            
            Your time is valuable. It is the universal currency of life, so most people seek to minimize waste on dead end projects. The proof stage is fundamentally about <b><i>assessing the value and cost of a project to determine if it is worth your time to complete.</i></b> What you value in a project is up to you, but it is important to think about what we are going to gain before we invest. The Proof stage is complete only when you have proven to yourself that the project is both possible, and feasible at a reasonable cost (i.e. time). Be careful not to accept half proofs, be certain.
            <br>
            <br>
            Proof itself is further split into 2 activities through which you cycle until sufficient proof for or against the project is found:
            <br>
            <center>
            <img class="img-responsive" src="./assets/images/blog/proof.png">
            </center>
            <br>
            <b>Investigate</b>
            <br>
            <br>
            This stage is composed of a full-scale investigation into the technical side of the project. Identify the most technically challenging component of your product and pick it apart. Read documentation, look for examples, and understand the protocol, algorithm or service. Rinse and repeat for each technically complex feature.
            <br>
            <br>
            <b>Prototype</b>
            <br>
            <br>
            Once you have a good idea of what you will be using, make a prototype to confirm that that obscure C library you dug out of the crypt actually does what you think. For prototypes there are a few important things to remember before diving in.
            <div class="dh-blog-list">
              <ul>
                <li>Write it in the language you are most comfortable in, if possible (unless you have to use a specific one… use your <a href="https://github.com/NoodleNut">Noodle</a>)</li>
                <li>Don’t worry about making production quality code - consider it throw away </li>
                <li>Don’t spend time on UI (there is a whole stage for that) </li>
              </ul>
            </div>
            </p>
          </div>
        </div>
      </div>
      
      
      <aside class="col-lg-3">
        <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
      </aside>
    </div>
    
    
    
    
    <!-- BOTTOM -->
    <div class="row">
      <div class="col-12-lg">
        <hr/>
        <div class="row">
          <div class="col-5-lg">
            <p>© Copyright Dylan Harness 2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>