<header>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css" />
  <link rel="stylesheet" type="text/css" href="./assets/stylesheets/blog-style.css" />
  
</header>

<div class="row">
  <div class="large-12 columns">
    <div class="panel dh-bg-panel">
      <div class="dh-blog-header">Art</div>
    </div>
  </div>
</div>

<div class="row">
  
  
  <div class="large-3 columns ">
    <div class="panel dh-bg-panel">
      <a href="#"><img class="dh-left-panel-top-img" src="./assets/images/raw/box.svg"/></a>
      
      <div class="panel dh-card dh-left-nav">
        
        <h5><a href="#">Articles</a></h5>
        <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="title"><a href="#">Wrestling with giants</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Programming</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Philosophy</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Noodle</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Menstrual Cycles</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Fitness</a></h5>
          </section>
        </div>
        
      </div>
    </div>
  </div>
  
  
  
  <div class="large-6 columns">
    
    
    <div class="row">
      
      <div class="panel dh-card">

        <div class="flex-video">
          <iframe width="854" height="510" src="https://www.youtube.com/embed/pB9R4kRso5w" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="flex-video">
          <iframe width="854" height="510" src="https://www.youtube.com/embed/pB9R4kRso5w" frameborder="0" allowfullscreen></iframe>
        </div>

          <div class="flex-video">
          <iframe width="854" height="510" src="https://www.youtube.com/embed/pB9R4kRso5w" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>
  
  
  <aside class="large-3 columns hide-for-small">
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
  </aside>
  
</div>




<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© Copyright Dylan Harness 2015</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
          <li><a href="#">Section 5</a></li>
          <li><a href="#">Section 6</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>