<div id="techtips" >
<center>
<div class="md-whiteframe-z3 dh-blog-panel">
    <md-content layout-padding style="height: 80%">
        <b>On the Importance of Proof </b>
        <br>
        <br>
        The moistness of your boss breathing down your neck might feel nice, but eventually you will want to dry up and make something for yourself. Any programmer worth their salt will tell you diving in head first without a plan will leave you with little more than a recipe for disaster and a sore head. Tried and true, here is my current personal workflow in 3 easy steps: <br>
        <br>
        1. Proof <br>
        2. UX Design <br>
        3. Implementation <br>
        <br>
        To keep things shorter than your shortest grandma, I’ll just discuss proof. <br>
        Proof<br>
        <br>
        Your time is valuable. It is the universal currency of life, so most people seek to minimize waste on dead end projects. The proof stage is fundamentally about assessing the value and cost of a project to determine if it is worth your time to complete. What you value in a project is up to you, but it is important to think about what we are going to gain before we invest. The Proof stage is complete only when you have proven to yourself that the project is both possible, and feasible at a reasonable cost (i.e. time). Be careful not to accept half proofs, be certain. <br>
        <br>
        Proof itself is further split into 2 activities through which you cycle until sufficient proof for or against the project is found: <br>
        <br>
        Investigate <br>
        <br>
        This stage is composed of a full-scale investigation into the technical side of the project. Identify the most technically challenging component of your product and pick it apart. Read documentation, look for examples, and understand the protocol, algorithm or service. Rinse and repeat for each technically complex feature. 
        <br><br>
        Prototype <br>
        <br>
        Once you have a good idea of what you will be using, make a prototype to confirm that that obscure C library you dug out of the crypt actually does what you think. For prototypes there are a few important things to remember before diving in.
        Write it in the language you are most comfortable in, if possible (unless you have to use a specific one… use your Noodle)
        Don’t worry about making production quality code - consider it throw away
        Don’t spend time on UI (there is a whole stage for that)
        </md-content>
</div>

</center></div>