<html>
    {% extends "./blog-parent.njk" %}

    {% block title %}
        About
    {% endblock %}
    
    {% block content %}
        <p class='work-text'>
            Hi, </br>
            I'm Dylan Harness - a game developer and software engineer from Canada. This website is designed to
            chronicle noteable works in any field of interest I might have over the years. You can follow the goings-on
            <a href="https://twitter.com/_dharness" class="external-link">@_dharness</a>
        </p>
        <div class="related-websites">
            <h5>Related websites:</h5>
            <a class='external-link' href='https://kingofthestack.com/'> King of the Stack </a>
            <a class='external-link' href='https://dribbble.com/kingofthestack'> Dribbble </a>
            <a class='external-link' href='https://github.com/dharness'> Github </a>
            <a class='external-link' href='https://www.linkedin.com/in/dhsoftware/'> LinkedIn </a>
        </div>
    {% endblock %}
</html>